#darkMode {
  margin-left: 5px;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  background-color: rgb(204, 190, 190);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.493);
}

#darkMode:hover,
#darkMode:focus {
    background-color: darkgray;
    cursor: pointer;
  }
  
  #darkMode.clicked {
    background-color: rgba(205, 216, 108, 0.568);
  }

  