@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&display=swap');
/*
font-family: 'Libre Baskerville', serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Changa', sans-serif;
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Libre Baskerville', serif;
}

body.light {
  background-color: rgb(255, 250, 250);
  color: black !important;
}


body.dark {
  background-color: black;
  color: whitesmoke;
}


/*color: whitesmoke;
background-color: rgb(19, 18, 18);*/